.card {
  width: 100%;
  background: white;
  color: #711d1c;
  padding: 1rem;
  height: 110px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  align-items: center;
}

.deliver {
  background-color: #008d09;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.card img {
  width: 50px;
}
.price {
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .orderTitle {
    font-size: 14px;
  }

  .deliver {
    font-size: 14px;
  }

  .orderTime {
    font-size: 14px !important;
  }
  .price {
    font-size: 14px !important;
  }
}
