.maps {
  display: flex;
  gap: 25px;
}
.container {
  color: black;
  text-align: right;
  max-width: 1222px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
}
.maps section {
  width: 50%;
}
.contents {
  display: flex;
  gap: 35px;
}
.contents section,
.contents form {
  width: 50%;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .maps {
    flex-direction: column;
  }

  .maps section {
    width: 100%;
  }

  .contents {
    flex-direction: column;
  }
  .contents section,
  .contents form {
    width: 100%;
  }
}

.phoneNumber {
  font-size: 16px !important;
}

@media (max-width: 556px) {
  .storeName {
    font-size: 14px !important;
  }
  .storeDesc {
    font-size: 16px;
  }
  .address {
    font-size: 14px;
    line-height: 28px !important;
  }

  .phoneNumber {
    font-size: 14px !important;
  }
}
