.edit_modal {
  padding: 30px 30px;
}

.edit_modal ~ div {
  width: 100%;
}

.err_empty{
    text-align: right;
    color: #711d1c !important;
    font-size: 14px;
    position: absolute;
    margin-top: 3px;
}

.edit_modal input {
  width: 100%;
  outline: none;
  padding: 9px 6px;
  border: 2px solid #711d1c;
  font-size: 15px;

}

.modal_container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modal_container button {
  background-color: #711d1c;
  color: white;
  border: 0;
  outline: none;
  padding: 12px 0;
  font-size: 17px;
}
